/* GTK NAMED COLORS ---------------- use responsibly! */
@define-color accent_bg_color @blue_3;
@define-color accent_fg_color #F2F4F8;
@define-color accent_color #78aeed;
@define-color destructive_bg_color @red_4;
@define-color destructive_fg_color #F2F4F8;
@define-color destructive_color #ff7b63;
@define-color success_bg_color @green_5;
@define-color success_fg_color #F2F4F8;
@define-color success_color @green_1;
@define-color warning_bg_color #cd9309;
@define-color warning_fg_color rgba(0, 0, 0, 0.8);
@define-color warning_color @yellow_2;
@define-color error_bg_color @red_4;
@define-color error_fg_color #F2F4F8;
@define-color error_color #ff7b63;
@define-color window_bg_color #161616;
@define-color window_fg_color #F2F4F8;
@define-color view_bg_color #181818;
@define-color view_fg_color #F2F4F8;
@define-color headerbar_bg_color #181818;
@define-color headerbar_fg_color #F2F4F8;
@define-color headerbar_border_color #F2F4F8;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.36);
@define-color headerbar_darker_shade_color rgba(0, 0, 0, 0.9);
@define-color sidebar_bg_color #181818;
@define-color sidebar_fg_color #F2F4F8;
@define-color sidebar_backdrop_color #181818;
@define-color sidebar_shade_color rgba(0, 0, 0, 0.36);
@define-color secondary_sidebar_bg_color #181818;
@define-color secondary_sidebar_fg_color #F2F4F8;
@define-color secondary_sidebar_backdrop_color #272727;
@define-color secondary_sidebar_shade_color rgba(0, 0, 0, 0.36);
@define-color card_bg_color rgba(255, 255, 255, 0.08);
@define-color card_fg_color #F2F4F8;
@define-color card_shade_color rgba(0, 0, 0, 0.36);
@define-color dialog_bg_color #161616;
@define-color dialog_fg_color #F2F4F8;
@define-color popover_bg_color #161616;
@define-color popover_fg_color #F2F4F8;
@define-color popover_shade_color rgba(0, 0, 0, 0.36);
@define-color thumbnail_bg_color #161616;
@define-color thumbnail_fg_color #F2F4F8;
@define-color shade_color rgba(0, 0, 0, 0.36);
@define-color scrollbar_outline_color rgba(0, 0, 0, 0.5);

@import '../gtk-3.0/libadwaita.css';
@import '../gtk-3.0/libadwaita-tweaks.css';
